* {
    --black: #2D2D2D;
    --blue: #C8E2F0;
    --white: #FFFFFF;
}

body {
    width: 1280px;
    position: relative;
    color: var(--black);
    /* font-family: "Marlene"; */
}


h1 {
    font-family: "Marlene";
    font-style: italic;
    font-weight: bold;
    font-size: 44px;
    line-height: 95%;
}

h2 {
    font-family: Marlene;
    font-style: italic;
    font-weight: bold;
    font-size: 36px;
    line-height: 95%;
    margin-bottom: 30px
}

h3 {
    font-family: Marlene Grande;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 70px;
}

p {
    font-family: Marlene Grande;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
}

.sidebar {
    opacity: 0;
    display: none;
    position: fixed;
    height: 100%;
    width: 345px;
    background-color: white;
    transition: all .3s ease;
    padding-top: 150px;
    padding-left: 33px;
    box-sizing: border-box;
    z-index: 5;
}

.sidebar h3 {
    font-family: Marlene Grande;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.sidebar a {
    text-decoration: none;
    color: var(--black);
}

.sidebar p {
    margin-left: 20px;
    margin-bottom: 10px;
    font-family: Marlene Grande;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
}

.logo {
    cursor: pointer;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 10;
}

.logo:hover ~ .sidebar {
    /* opacity: 1; */
    display: block;
    /* transition: all .1s ease-out; */

    opacity: 1;
    transition: all .1s ease-out;
}

.sidebar:hover {
    display: block;
    opacity: 1;
    transition: all .1s ease-out;
}

.up_icon {
    position: fixed;
    right: 75px;
    bottom: 75px;
    cursor: pointer;
}

.cover {
    width: 100%;
    height: 850px;
    background-image: url(../images/cover-background.png);
}

.cover h1 {
    text-align: center;
    position: absolute;
    width: 560px;
    left: 485px;
    top: 270px;
}

.cover div {
    position: absolute;
    width: 435px;
    left: 425px;
    top: 475px;
}

.cover div p {
    font-family: Marlene Grande;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    margin-bottom: 20px;
}


.block {
    padding: 160px 210px;
    box-sizing: border-box;
}

.block.blue {
    background-color: var(--blue);
}

.block.blue.remember div {
    margin: 0 auto;
    width: 477px;
    height: 156.32px;
    background-image: url(../images/remember.svg);
    box-sizing: border-box;
    padding-left: 140px;
    padding-top: 35px;
}

.block.blue.remember h3 {
    display: inline-block;
    margin-bottom: 0;
}
.block.blue.remember p {
    margin-top: 10px;
}

.decore {
    position: absolute;
    top: 1035px;
    right: 0;
    z-index: -1;

}

.block .about {
    display: flex;
    justify-content: space-between;
}

.block .about h2 {
    display: inline-block;
}


.block .about p {
    width: 450px;
    margin-bottom: 45px;
    background-color: var(--white);
}

.block.blue.rules {
    background-image: url(../images/rules-background.png);
}

.card {
    width: 476px;
    cursor: pointer;
    background-image: url(../images/cards-background.svg);
    background-size: cover;
    background-position: top left;

    box-sizing: border-box;
    padding: 40px;
    margin: 0 auto 95px;
    position: relative;
}


.card p {
    font-family: Marlene Grande;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
}

.card div{
    opacity: 0;
    width: 340px;
    border: 2px solid var(--black);
    box-sizing: border-box;
    border-radius: 20px;
    background-image: url(../images/description-background.svg);
    background-size: cover;
    background-position: top right;
    position: absolute;
    top: 0;
    left: -370px;
    padding: 75px 25px 25px 25px;
    transition: all .3s ease;
}

.card div span {
    position: absolute;
    top: 17px;
    right: 25px;
    font-family: Marlene Grande;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
}

.card div p {
  font-size: 16px;
  line-height: 135%;
}


.card:hover > div {
    opacity: 1;
    transition: all .1s ease-out;
}
.number {
    position: absolute;
    right: 15px;
    bottom: 20px;
    font-family: Marlene Grande;
    font-style: italic;
    font-weight: bold;
    font-size: 96px;
    line-height: 130%;
}

.advises-containter {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}
.advises-containter div {
    opacity: 1;
    padding: 15px 25px;
    background-color: var(--blue);
    margin-bottom: 50px;
    margin-right: 50px;
    position: relative;
    transition: all 3s ease-out;
}

.advises-containter div:hover {
    opacity: 0;
    transition: all .1s ease-out;
}

.advises-containter div::after {
    content: url(../images/cross.svg);
    position: absolute;
    left: -10px;
    top: -10px;
}

.practice {
    background-image: url(../images/practice-background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.week {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

}

.week div {
    position: relative;
    background-color: white;
    width: 195px;
    height: 160px;
    border: solid 2px var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px;
    transition: all .5s ease-out;
}

.week div:hover {
    background-color: var(--blue);
    transition: all .1s ease-out;
}

.week div span {
    position: absolute;
    top: 15px;
    right: 20px;
    font-family: Marlene Grande;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
}

.week div p {
    font-family: Marlene Grande;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
}

.reviews {
    background-image: url(../images/reviews-background.svg);
}

.reviews div{
    width: 635px;
    box-sizing: border-box;
    background-color: var(--blue);
    padding: 45px;
    margin-bottom: 40px;
}

.reviews div span {
    display: inline-block;
    margin-bottom: 25px;
    font-family: Marlene Grande;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
}
.footer {
    display: flex;
    justify-content: space-between;
    z-index: -1;
}

.footer h3 {
    display: block;
    margin-bottom: 0;
}
